<div class="example-container">
  <h2>To do</h2>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *cdkVirtualFor="let item of todo" cdkDrag>
        {{item.test}}
        <img [src]="item.imageUrl" width="20" height="20" />
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>


<div class="example-container">
  <h2>Done</h2>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *cdkVirtualFor="let item of done" cdkDrag>
        {{item.test}}
        <img [src]="item.imageUrl" width="20" height="20" />
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

{{done | json}}